/*========================
  3.2 animate style start
==========================*/

@keyframes inner-circle {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

@keyframes out-circle {

    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1, 1.1);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes waves {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes loading-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(36deg);
    }
}

@keyframes loading-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(72deg);
    }
}

@keyframes loading-3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

@keyframes loading-5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes marquee-reverse {
    0% {
        right: 0;
    }

    100% {
        right: -100%;
    }
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes topanimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

}

@keyframes zoomanimation {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

}

@keyframes deeptopanimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

}

@keyframes topzoomanimation {

    0%,
    100% {
        transform: translateY(0) scale(0.9);
    }

    50% {
        transform: translateY(8px) scale(1);
    }

}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom {

    0%,
    100% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@keyframes spin {
    to {
        --angle: 1turn;
    }
}


@keyframes slide-in {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes image-circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}