/*========================
  4.5 footer style start
==========================*/

.property-footer-section {
    background: #131d27;
    padding-top: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 575px) {
        .open-footer-content {
            margin-bottom: 20px;
        }
    }

    .dark-job-footer {
        border: none;
        padding: 0;

        p {
            width: 70%;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &.job-footer-section {
        background: #2a2928;

        .footer-contact-list {
            li {
                &:first-child {
                    .footer-contact {
                        h4 {
                            &::after {
                                background: #ffb38f;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .footer-contact {
                        h4 {
                            &::after {
                                background: #28e6fe;
                            }
                        }
                    }
                }

                &:last-child {
                    .footer-contact {
                        h4 {
                            &::after {
                                background: #5effb0;
                            }
                        }
                    }
                }

                &:hover {
                    .footer-icon {
                        background: #2075f547;

                        .iconsax {
                            --Iconsax-Color: #2075f5;
                        }
                    }
                }
            }
        }

        .dark-footer-social {
            li {
                &:hover {
                    a {
                        border-color: #2075f5;

                        i {
                            color: #2075f5;
                        }
                    }
                }
            }
        }

        .footer-logo {
            font-size: 36px;
            color: #fff;
            &::after {
                background: #00adb4;
            }
        }

        .footer-title {
            &::before {
                color: #fff;
            }

            &::after {
                background: #fff;
            }
        }

        .footer-link {
            li {
                &:hover {
                    a {
                        color: #fff !important;

                        &::before {
                            background: #fff !important;
                        }
                    }
                }
            }
        }
    }

    .container {
        .row {
            >div {
                &:nth-child(2) {
                    .row {
                        >div {
                            &:first-child {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &:first-child {
                    position: relative;

                    @media (max-width: 991px) {
                        position: unset;
                    }

                    &::after {
                        content: "";
                        width: 1px;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.1);
                        position: absolute;
                        top: 0;
                        right: calc(60px + (90 - 60) * ((100vw - 992px) / (1920 - 992)));

                        [dir="rtl"] & {
                            right: unset;
                            left: calc(60px + (90 - 60) * ((100vw - 992px) / (1920 - 992)));
                        }

                        @media (max-width: 991px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .footer-contact-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: calc(15px + (45 - 15) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width: 767px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            align-items: center;
            gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));

            &:hover {
                .footer-icon {
                    background: rgba(var(--theme-color), 0.15);

                    .iconsax {
                        --Iconsax-Color: rgba(var(--theme-color), 1);
                    }
                }
            }

            .footer-icon {
                width: calc(40px + (83 - 40) * ((100vw - 320px) / (1920 - 320)));
                height: calc(40px + (83 - 40) * ((100vw - 320px) / (1920 - 320)));
                background: rgba(255, 255, 255, 0.1);
                @include flex_center;
                border-radius: 100%;
                transition: 0.4s ease;

                .iconsax {
                    --Iconsax-Size: calc(20px + (38 - 20) * ((100vw - 320px) / (1920 - 320)));
                    --Iconsax-Color: #fff;
                    transition: 0.4s ease;
                }
            }

            .footer-contact {
                width: calc(100% - calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) - calc(40px + (83 - 40) * ((100vw - 320px) / (1920 - 320))));

                h4 {
                    color: #fff;
                    font-weight: 500;
                    text-transform: uppercase;

                    &::after {
                        content: "";
                        display: block;
                        width: 25px;
                        height: 2px;
                        background: rgba(var(--theme-color), 1);
                        margin-block: calc(3px + (6 - 3) * ((100vw - 320px) / (1920 - 320))) calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
                    }
                }

                h6 {
                    color: rgba(var(--content-color), 1);
                }
            }
        }
    }

    .footer-title {
        color: #fff;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
    }

    .footer-link {
        margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width: 575px) {
            display: none;
        }

        li {
            display: block;

            +li {
                padding-top: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
            }

            &:hover {
                a {
                    color: rgba(var(--theme-color), 1);

                    &::before {
                        width: 8px;
                    }
                }
            }

            a {
                color: rgba(var(--content-color), 1);
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 400;
                line-height: normal;
                transition: 0.4s ease;
                display: flex;
                align-items: center;
                gap: 8px;

                &::before {
                    content: "";
                    position: relative;
                    width: 0;
                    height: 1px;
                    background-color: rgba(var(--theme-color), 1);
                    display: inline-block;
                    transition: 0.4s ease;
                }
            }
        }
    }

    .copyright {
        padding-block: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));
        text-align: center;

        p {
            color: #fff;
            font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
            line-height: normal;
        }
    }
}

.footer-logo {
    color: #fff;
    font-size: 32px;
    img {
        width: calc(107px + (137 - 107) * ((100vw - 320px) / (1920 - 320)));
        height: auto;
        object-fit: contain;
    }

    &::after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: rgba(var(--theme-color), 1);
        margin-top: 10px;
    }
}

.dark-footer-section {
    .copyright-box {
        padding-block: calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 420px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            text-align: center;
        }

        img {
            height: 30px;
            object-fit: contain;

            @media (max-width: 767px) {
                width: 45%;
            }

            @media (max-width: 420px) {
                width: 60%;
            }
        }
    }
}

.dark-job-footer {
    border-block: 1px solid rgba(var(--border-color), 0.1);
    padding-block: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));

    .footer-logo {
        &::after {
            margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        }
    }

    p {
        width: 90%;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .dark-footer-social {
        display: flex;
        align-items: center;
        gap: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        padding-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

        li {
            a {
                width: calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320)));
                height: calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320)));
                border: 1px solid rgba(255, 255, 255, 0.16);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transition: 0.4s ease;

                i {
                    color: #fff;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    transition: 0.4s ease;
                }
            }

            &:hover {
                a {
                    transform: translateY(-5px);
                    border-color: rgba(var(--theme-color), 1);

                    i {
                        color: rgba(var(--theme-color), 1);
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .open-footer-content {
            .footer-title {
                &::before {
                    content: "\f1af";
                }

                &::after {
                    display: block;
                }
            }

            .footer-link {
                display: block;
            }
        }
    }

    .footer-title {
        color: #fff;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 25px;
            height: 2px;
            background: rgba(var(--theme-color), 1);
            margin-top: 8px;
        }

        @media (max-width: 575px) {
            &::after {
                display: none;
            }

            &::before {
                content: "\ea13";
                position: absolute;
                top: 50%;
                right: 0;
                font-size: 18px;
                font-weight: 400;
                font-family: remixicon !important;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                transform: translateY(-50%);
                transition: 0.4s ease;
                color: rgba(var(--theme-color), 1);

                [dir="rtl"] & {
                    right: unset;
                    left: 0;
                }
            }
        }
    }

    .footer-link {
        margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width: 575px) {
            display: none;
        }

        li {
            display: block;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;

            &:hover {
                a {
                    color: rgba(var(--theme-color), 1);

                    &::before {
                        width: 10px;
                    }
                }
            }

            +li {
                padding-top: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
            }

            a {
                color: rgba(255, 255, 255, 0.6);
                display: flex;
                align-items: center;
                gap: 5px;

                &::before {
                    content: "";
                    position: relative;
                    width: 0;
                    height: 1px;
                    background-color: rgba(var(--theme-color), 1);
                    display: inline-block;
                    transition: 0.4s ease;
                }
            }
        }

        &.footer-contact {
            li {
                display: flex;
                align-items: center;
                gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));

                i {
                    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
                    color: #fff;
                }
            }
        }
    }
}

.job3-footer {
    padding-block: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
    background: rgba(var(--bg-color), 1);

    .copyright-box {
        @include flex_between;
        gap: 5px;
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width: 420px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            text-align: center;
        }

        img {
            height: 30px;
            object-fit: contain;

            @media (max-width: 767px) {
                width: 45%;
            }

            @media (max-width: 420px) {
                width: 60%;
            }
        }
    }

    .footer-head {
        border-bottom: 1px solid rgba(var(--border-color), 0.2);
        padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
        .search-pill{
            .btn-pills{
            &:active{
                background-color: transparent !important;
                color: rgba(var(--theme-color), 1) !important;
                border-color: rgba(var(--theme-color), 1) !important;
            }
        }
        }
    }

    h2 {
        margin-top: calc(-5px + (-11 - -5) * ((100vw - 320px) / (1920 - 320)));
    }

    .dark-job-footer {
        border: none;
        padding: 0;

        p {
            color: rgba(255, 255, 255, 0.6);
        }

        .footer-link {
            &.footer-contact {
                li {
                    span {
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }
}

.car2-footer {
    background: #232322;

    .btn-pills {
        background: rgba(var(--title-color), 1);
        color: rgba(var(--white), 1);

        &:hover {
            background: transparent;
            border-color: rgba(var(--title-color), 1);
            color: rgba(var(--title-color), 1);
        }
    }

    .copyright-box {
        background: #2d2d2d;
    }
}

.property2-footer {
    background: #090c21;

    .search-pill {
        border-radius: 6px;

        .btn-solid {
            padding: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320))) calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
        }
    }
}