/*========================
  4.4 form style start
==========================*/

.form-box {
  background: rgba(var(--light-bg-color), 1);
  padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 5px;

  .login-title {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    text-align: center;

    a {
      display: flex;
      align-items: center;
      gap: 3px;
      color: rgba(var(--title-color), 1);
      font-size: 16px;

      i {
        --Iconsax-Size: 16px;
        --Iconsax-Color: rgba(var(--title-color), 1);
      }
    }

    h3 {
      font-weight: 400;
      margin-bottom: 6px;
      color: rgba(var(--title-color), 1);
    }

    h5 {
      font-weight: 300;
      color: rgba(var(--content-color), 1);
      font-size: 18px;
    }

    p {
      font-weight: 400;
      margin-top: calc(2px + (5 - 2) * ((100vw - 320px) / (1920 - 320)));
      font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));

      a {
        color: rgba(var(--title-color), 1);
        text-decoration: underline;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .text-divider {
    position: relative;
    z-index: 0;
    text-align: center;
    margin-block: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));

    span {
      color: rgba(var(--content-color), 1);
      padding-inline: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
      background: rgba(var(--light-bg-color), 1);
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
    }

    &::after {
      @include after_before;
      width: 80%;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      background: rgba(var(--border-color), 1);
      z-index: -1;
    }
  }

  .login-form {
    &.contact-form {
      .form-input {
        .form-control {
          padding-block: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) !important;
          margin-bottom: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }

    .form-input {
      .form-control {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--title-color), 1);
        font-weight: 300;
        border-radius: 5px;
        border: 1px solid rgba(var(--border-color), 1);
        margin-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
        background: rgba(var(--white), 1);

        &:focus {
          border-color: rgba(var(--theme-color), 1);
        }

        &::placeholder {
          color: rgba(var(--content-color), 1);
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 300;
        }
      }

      textarea {
        height: calc(130px + (180 - 130) * ((100vw - 320px) / (1920 - 320)));
      }
    }

    .btn-solid {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
      margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
  }

  .form-check-box {
    display: flex;
    align-items: center;
    gap: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
    justify-content: flex-end;

    input {
      cursor: pointer;
      display: inline-block;
      width: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
      height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
      appearance: unset;
      background: rgba(var(--white), 1);
      justify-content: center;
      border: 1px solid rgba(var(--border-color), 1);
      position: relative;
      transition: 0.4s ease;
      border-radius: 2px;

      &:checked {
        background: rgba(var(--theme-color), 1);

        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      &::before {
        content: "\eb7b";
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transition: 0.4s ease;
        line-height: 1;
      }
    }

    label {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      line-height: 1;
      cursor: pointer;
      width: calc(100% - calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))) - calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320))));
      color: rgba(var(--title-color), 1);
      font-weight: 300;

      a {
        font-weight: 500;
      }

      &.line-height-change {
        line-height: 1.3;
      }
    }
  }

  .login-social {
    display: flex;
    align-items: center;
    gap: calc(8px + (17 - 8) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    li {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      display: block;
      width: 100%;
      font-weight: 300;

      a {
        display: flex;
        align-items: center;
        gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
        padding: 15px calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--title-color), 1);
        background: rgba(var(--white), 1);
        justify-content: center;
        border-radius: 5px;

        img {
          width: auto;
          height: 16px;
          object-fit: cover;
        }
      }
    }
  }

  .signup-box {
    text-align: center;
    margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    border-top: 1px solid rgba(var(--border-color), 1);
    padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    color: rgba(var(--title-color), 1);
    font-weight: 300;
    flex-wrap: wrap;

    h6 {
      font-weight: 300;
      font-size: 16px;
    }

    a {
      color: rgba(var(--theme-color), 1);
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
      text-decoration: underline;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  .btn-solid {
    padding-inline: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}

.contact-map {
  height: 100%;

  &.height-map {
    height: calc(340px + (600 - 340) * ((100vw - 320px) / (1920 - 320)));
  }

  @media (max-width: 767px) {
    height: 340px;
  }

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.contact-title {
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  color: rgba(var(--title-color), 1);
  font-weight: 400;
}

.search-pill {
  background: rgba(var(--white), 1);
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 5px;

  .form-control {
    border: none;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: rgba(var(--content-color), 1);
    padding-left: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
    padding-block: 6px;

    [dir="rtl"] & {
      padding-left: 12px;
      padding-right: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
    }

    &::placeholder {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--content-color), 1);
    }
  }

  .btn-pills {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(8px + (19 - 8) * ((100vw - 320px) / (1920 - 320))) calc(12px + (50 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    color: #fff;

    &:hover {
      color: rgba(var(--theme-color), 1);
    }
  }
}

.home-form-box {
  background: rgba(var(--white), 1);
  padding: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 6px;
  margin-top: calc(100px + (125 - 100) * ((100vw - 991px) / (1920 - 991)));

  @media (max-width: 991px) {
    margin-top: 0;
  }

  .nav-pills {
    justify-content: space-between;
    margin-bottom: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));

    .nav-item {
      width: 33.3%;

      .nav-link {
        padding: 0 0 calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) 0;
        width: 100%;
        color: rgba(var(--title-color), 1);
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        border-bottom: 2px solid transparent;
        border-radius: 0;

        &.active {
          background: transparent;
          border-bottom-color: rgba(var(--theme-color), 1);
        }
      }
    }
  }

  .home-form {
    li {
      display: block;
    }

    input {
      cursor: pointer;
    }

    .input-box {
      padding: 8px 10px;
      border: 1px solid rgba(var(--border-color), 1);
      border-radius: 6px;
      position: relative;

      + .input-box {
        margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      }

      .dropdown {
        position: unset;

        .dropdown-menu {
          transform: none !important;
          bottom: unset !important;
          top: calc(100% + 10px) !important;
          left: unset !important;
          right: 0 !important;
          width: 100%;
        }
      }
    }

    .select-dropdown {
      position: unset;
    }

    .select-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
      color: rgba(var(--title-color), 0.7);

      &::after {
        content: "\ea4e";
        position: relative;
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--title-color), 0.7);
      }
    }

    .select-menu {
      position: absolute;
      height: auto;
      background: rgba(var(--white), 1);
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      display: none;

      &.show {
        display: block;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--content-color), 0.5);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(var(--content-color), 0.2);
        border-radius: 10px;
      }

      li {
        display: block;

        + li {
          padding-top: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
        }

        .select-item {
          display: flex;
          align-items: center;
          gap: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
          color: rgba(var(--title-color), 1);
          font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 300;
          transition: 0.4s ease;

          img {
            width: 18px;
            height: 18px;
          }

          &.active {
            color: rgba(var(--theme-color), 1);
          }
        }
      }

      .main-number {
        .input-number {
          .form-control {
            color: rgba(var(--title-color), 1);
            font-size: 14px;
          }
        }
      }
    }

    .menu-icon {
      transform: rotate(90deg);
    }

    .btn-solid {
      width: 100%;
      margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
      padding-block: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
    }

    .form-control {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
      color: rgba(var(--title-color), 0.7);
      border: none;
      padding: 0;
      background-color: rgba(var(--white), 1);

      &::placeholder {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 300;
        color: rgba(var(--title-color), 0.7);
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 4px;
      border: 1px solid rgba(var(--border-color), 1);
      background: rgba(var(--white), 1);
      box-shadow: 0px 9px 36px 0px rgba(var(--title-color), 0.1);
      overflow: auto;
      max-height: 200px;

      .dropdown-item {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        display: block;
        padding: 0;
        display: flex;
        align-items: center;
        gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));

        + .dropdown-item {
          padding-top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
        }

        &:hover {
          background: none;
          color: rgba(var(--title-color), 1);
        }

        h6 {
          width: calc(100% - calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320))) - calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))));
          color: rgba(var(--title-color), 1);
          font-weight: 300;
        }

        i {
          width: calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320)));
          height: calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320)));
          background: rgba(var(--theme-color), 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          color: rgba(var(--theme-color), 1);
          font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }
}

.user-form-box {
  padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
  background: rgba(var(--white), 1);
  border-radius: 8px;
  box-shadow: 0px 9px 20px rgba(var(--title-color), 0.05);

  + .user-form-box {
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  }

  .user-choose-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 410px) {
      grid-template-columns: 1fr;
    }

    .main-choose-item {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

      .choose-item {
        padding-top: 0;

        label {
          span {
            cursor: pointer;
            color: rgba(var(--title-color), 0.7);
          }
        }
      }

      input {
        cursor: pointer;
        display: inline-block;
        width: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
        height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
        appearance: unset;
        background: rgba(var(--white), 1);
        justify-content: center;
        border: 1px solid rgba(var(--title-color), 0.1);
        position: relative;
        transition: 0.4s ease;
        &:checked{
          ~ label{
              span{
                  color: rgba(var(--theme-color), 1);
              }
          }
      }
      }

      &:first-child {
        .choose-item {
          padding-top: 0;
        }
      }
    }

    input[type="checkbox"] {
      border-radius: 5px;

      &::before {
        content: "\eb7b";
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 14px;
        font-weight: 700;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transition: 0.4s ease;
        line-height: 1;
      }

      &:checked {
        appearance: unset;
        background: rgba(var(--theme-color), 1);
        border: transparent;

        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    input[type="radio"] {
      border-radius: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%) scale(0);
        background: rgba(var(--theme-color), 1);
        border-radius: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
      }

      &:checked {
        appearance: unset;
        border-color: rgba(var(--theme-color), 1);

        &::before {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }

        &::after {
          transform: scale(2);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .number-radio-list {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(var(--border-color), 1);
    border-radius: 5px;
    overflow: hidden;

    li {
      position: relative;
      z-index: 0;

      + li {
        border-left: 1px solid rgba(var(--border-color), 1);

        [dir="rtl"] & {
          border-left: none;
          border-right: 1px solid rgba(var(--border-color), 1);
        }
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        border-radius: 0;
        z-index: -1;
        transition: 0.4s ease;

        &:checked {
          background: rgba(var(--white), 1);

          ~ label {
            background: rgba(var(--theme-color), 0.15);
            color: rgba(var(--theme-color), 1);
          }
        }

        &::before {
          display: none;
        }
      }

      label {
        font-size: 16px;
        color: rgba(var(--title-color), 0.7);
        margin-bottom: 0;
        line-height: 1;
        cursor: pointer;
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
        background: rgba(var(--white), 1);
      }
    }
  }

  .include-price-list {
    display: flex;
    align-items: center;
    gap: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 575px) {
      flex-wrap: wrap;
    }

    span {
      color: rgba(var(--title-color), 1);
    }

    .user-choose-list {
      display: flex;
      align-items: center;
      gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));

      @media (max-width: 575px) {
        flex-wrap: wrap;
      }

      .choose-item {
        gap: 5px;

        span {
          font-size: 16px;
        }
      }
    }
  }

  .text-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      appearance: none;
      border: 1px solid rgba(var(--title-color), 0.1);
      border-radius: 5px;
      position: relative;
      transition: 0.4s ease;
      background: rgba(var(--white), 1);
      cursor: pointer;

      &:checked {
        background: rgba(var(--theme-color), 1);
      }
    }

    label {
      font-size: 16px;
      color: rgba(var(--content-color), 1);
      cursor: pointer;
      width: calc(100% - 20px - 10px);
    }
  }

  .feature-list {
    li {
      display: flex;
      align-items: center;
      gap: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

      + li {
        margin-top: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      }

      span {
        color: rgba(var(--title-color), 1);
      }

      .flex-radio {
        display: flex;
        align-items: center;
        gap: 5px;

        label {
          cursor: pointer;
          color: rgba(var(--title-color), 0.7);
        }

        input[type="radio"] {
          appearance: unset;
          position: relative;
          width: 18px;
          height: 18px;
          border: 1px solid rgba(var(--title-color), 0.1);
          cursor: pointer;
          background: rgba(var(--white), 1);

          &:checked {
            border-color: rgba(var(--theme-color), 1);
            ~label{
              color: rgba(var(--theme-color), 1);
          }
          }
        }
      }
    }
  }

  .form-input {
    label {
      display: block;
      margin-bottom: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320)));
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--title-color), 1);
    }

    .form-control {
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      border: 1px solid rgba(var(--border-color), 1);
      border: 1px solid rgba(var(--border-color), 1);
      font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      color: rgba(var(--content-color), 1);
      background-color: rgba(var(--white), 1);
      border-radius: 6px;

      &:focus {
        border-color: rgba(var(--theme-color), 1);
      }

      &::placeholder {
        font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        color: rgba(var(--content-color), 1);
      }
    }

    .select-button {
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      color: rgba(var(--content-color), 1);
      background-color: rgba(var(--light-bg-color), 1);
      border-radius: 6px;
      @include flex_between;
      transition: 0.4s ease;
      border: none;
      @media (max-width:575px) {
        width: 100%;
      }

      &.arrow-none {
        &::after {
          display: none;
        }
      }

      &::after {
        position: relative;
        content: "\ea4e";
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
      }

      .form-control {
        border: none;
        background-color: transparent;
        padding: 0;

        &::placeholder {
          font-size: 17px;
          font-weight: 400;
          color: rgba(var(--content-color), 1);
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        width: 100%;
        border-color: rgba(var(--border-color), 1);
        background-color: rgba(var(--white), 1);
          a {
            color: rgba(var(--content-color), 1);
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 6px 12px;
            transition: 0.4s ease;
          font-size: 18px;

            &.active {
              background-color: rgba(var(--theme-color), 1);
              color: #fff;

              &:hover {
                background-color: rgba(var(--theme-color), 1);
                color: #fff;
              }
            }

            &:hover {
              background-color: #eeeeee83;
            }
          }
      }
    }
  }

  .upload-box {
    text-align: center;
    position: relative;
    .add-more-files-zone{
      border-color: rgba(var(--theme-color), 0.2);
      box-shadow: none;
      background: transparent;
    }
    .iconsax {
      --Iconsax-Size: 50px;
      --Iconsax-Color: rgba(var(--content-color), 1);
      margin-inline: auto;
    }

    h5 {
      font-weight: 400;
      color: rgba(var(--content-color), 1);
    }
    .dropzone-container {
      border-color: rgba(var(--theme-color), 0.2);
      box-shadow: none;
      background: transparent;
    }
    .uploaded-files{
      .file-card{
        background: rgba(var(--white), 1);
        box-shadow: none;
        border: none;
        .file-name{
          color: rgba(var(--title-color), 1);
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }

  .btn-solid{
    padding-inline: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}
