/*========================
  5.3 home style start
==========================*/



.car-home-tab {
  width: 100%;
  padding-top: calc(50px + (136 - 50) * ((100vw - 320px) / (1920 - 320)));

  &.car2-home-tab {
    width: 100%;
    padding-top: 0;
    margin-top: calc(-70px + (-93 - -70) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    box-shadow: 0 0 20px 0 rgba(var(--title-color), 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .nav-tabs {
      background: rgba(var(--white), 1);
      display: inline-block;
      border-radius: 10px 10px 0 0;
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
      padding-bottom: 0;
      margin-bottom: -10px;

      .nav-item {
        .nav-link {
          color: rgba(var(--title-color), 1);
          margin-bottom: 0;
          padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

          &.active {
            background: rgba(var(--theme-color), 1);
            color: rgba(35, 35, 35, 1);
          }

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }
      }
    }

    .tab-content {
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
      background: rgba(var(--white), 1);

      .tab-list {
        background: rgba(var(--light-bg-color), 1);
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
        gap: calc(60px + (120 - 60) * ((100vw - 991px) / (1920 - 991)));
        justify-content: space-between;
        border-radius: 10px;
        border-top-left-radius: 0;

        @media (max-width: 991px) {
          gap: calc(10px + (20 - 10) * ((100vw - 320px) / (991 - 320)));
        }

        .tab-item {
          padding: 0;
          width: auto;

          @media (max-width: 991px) {
            width: calc(50% - calc(10px + (20 - 10) * ((100vw - 320px) / (991 - 320)))) !important;
          }

          @media (max-width: 767px) {
            width: 100% !important;
          }

          .label-flex {
            label {
              font-weight: 400;
              color: rgba(var(--title-color), 1);
            }
          }

          .select-button {
            display: flex;
            align-items: center;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

            img {
              width: 10px;
            }

            .form-control {
              font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

              &::placeholder {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
              }
            }
          }

          .dropdown-menu {
            &:has(.react-datepicker) {
              padding: 0;
              overflow: unset;
              max-height: unset;
            }

            .react-datepicker {
              font-family: "Outfit", sans-serif;
              border: 1px solid rgba(var(--border-color), 1);
              border-radius: 5px;
              font-size: 16px;
              font-weight: 400;
              color: rgba(var(--content-color), 1);
              display: flex;

              .react-datepicker__month {
                .react-datepicker__week {
                  .react-datepicker__day--selected {
                    background-color: rgba(var(--title-color), 1);
                    color: rgba(var(--white), 1);
                  }
                }
              }
            }
          }

          +.tab-item {
            &::after {
              display: none;
            }
          }

          .btn-pills {
            background: rgba(var(--title-color), 1);
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            padding: calc(10px + (17 - 10) * ((100vw - 320px) / (1920 - 320))) calc(26px + (53 - 26) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            color: rgba(var(--white), 1);

            &:hover {
              background: transparent;
              color: rgba(var(--title-color), 1);
              border-color: rgba(var(--title-color), 1);
            }
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    width: 100%;
  }

  .nav {
    border-bottom: none;

    .nav-item {
      .nav-link {
        color: #fff;
        padding: 15px calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
        border: none;
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        line-height: normal;
        position: relative;
        z-index: 0;
        margin-bottom: -3px;

        &:active {
          background-color: transparent;
        }

        &::after {
          @include after_before;
          background: rgba(var(--bg-color), 1);
          bottom: 0;
          right: 0;
          border-radius: 10px 10px 0 0;
          transform: perspective(7px) rotateX(0.73deg) translateZ(-1px);
          transform-origin: 0 0;
          backface-visibility: hidden;
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          transition: none;

          [dir="rtl"] & {
            right: unset;
            left: 0;
            transform-origin: 100% 0;
          }
        }

        &:hover {
          border: none;
        }

        &.active {
          border: none;
          color: rgba(var(--title-color), 1);
          background: transparent;

          &::before {
            content: "";
            background: rgba(var(--bg-color), 1);
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 10px;
            height: 10px;
          }

          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .tab-content {
    background: rgba(var(--bg-color), 1);
    border-radius: 10px;

    [dir="rtl"] & {
      border-top-right-radius: 0;
      border-top-left-radius: 10px;
    }

    .tab-list {
      display: flex;
      align-items: center;

      @media (max-width: 991px) {
        flex-wrap: wrap;
      }

      .tab-item {
        position: relative;
        padding: calc(12px + (25 - 12) * ((100vw - 991px) / (1920 - 991))) calc(10px + (32 - 10) * ((100vw - 991px) / (1920 - 991)));
        width: 20%;
        &:nth-child(1),&:nth-child(3){
          .select-dropdown{
            .dropdown{
              .select-menu{
                right: unset !important;
                left: 0 !important;
              }
            }
          }
        }

        @media (max-width: 991px) {
          width: 50%;
          padding: 14px;
        }

        &:nth-child(3) {
          @media (max-width: 991px) {
            padding-block: 0;
          }

          &::after {
            @media (max-width: 991px) {
              display: none;
            }
          }
        }

        input {
          cursor: pointer;
        }

        &:nth-last-child(2) {
          .main-number {
            gap: 10px;
          }
        }

        &:last-child {
          display: flex;
          align-items: center;
          padding-left: 0;
          justify-content: end;

          [dir="rtl"] & {
            padding-right: 0;
            padding-left: calc(10px + (32 - 10) * ((100vw - 991px) / (1920 - 991)));
          }

          @media (max-width: 991px) {
            padding-right: 0;

            [dir="rtl"] & {
              padding-left: 0;
            }
          }

          &::after {
            display: none;
          }

          @media (max-width: 991px) {
            width: 100%;
            justify-content: center;
          }
        }

        &:first-child {
          &::after {
            display: none;
          }
        }

        &::after {
          @include pos_absolute;
          width: 1px;
          height: 42px;
          background-color: rgba(var(--content-color), 0.5);
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          [dir="rtl"] & {
            left: unset;
            right: 0;
          }
        }

        .label-flex {
          display: flex;
          align-items: center;
          gap: calc(3px + (9 - 3) * ((100vw - 320px) / (1920 - 320)));
          margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
          cursor: pointer;
          font-weight: 300;

          .iconsax {
            --Iconsax-Size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            --Iconsax-Color: rgba(var(--title-color), 1);
          }

          label {
            color: rgba(var(--title-color), 1);
            font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 300;
            line-height: normal;
            cursor: pointer;
            margin-bottom: 0;
          }
        }

        .btn-solid {
          padding-inline: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));

          @media (max-width: 991px) {
            padding-inline: calc(30px + (50 - 30) * ((100vw - 320px) / (991 - 320))) !important;
          }
        }

        .form-control {
          border: none;
          color: rgba(var(--content-color), 1);
          font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 300;
          line-height: normal;
          padding: 0;
          background: transparent;

          &::placeholder {
            color: rgba(var(--content-color), 1);
            font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 300;
          }
        }

        .select-button {
          color: rgba(var(--content-color), 1);
          font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 300;
        }

        .select-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: auto;
          background: rgba(var(--white), 1);
          padding: 10px 20px;
          display: none;

          &.show {
            display: block;
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgba(var(--content-color), 0.5);
            border-radius: 10px;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(var(--content-color), 0.2);
            border-radius: 10px;
          }

          li {
            font-size: 18px;

            +li {
              padding-top: 10px;
            }

            .select-item {
              color: rgba(var(--title-color), 1);
              font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
              font-weight: 300;
              transition: 0.4s ease;
              display: block;

              &.active {
                color: rgba(var(--theme-color), 1);
              }
            }
          }

          .main-number {
            .input-number {
              .form-control {
                color: rgba(var(--title-color), 1);
                font-size: 14px;
              }
            }
          }
        }

        .dropdown {
          .dropdown-menu {
            padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) 22px;
            border-radius: 4px;
            border: 1px solid rgba(var(--border-color), 1);
            background: rgba(var(--white), 1);
            overflow: auto;
            max-height: calc(235px + (300 - 235) * ((100vw - 575px) / (1920 - 575)));
            box-shadow: 0px 9px 36px 0px rgba(35, 35, 35, 0.1);
            min-width: 210px;
            width: auto;
            top: 28px !important;
            &:has(.range-slider){
              min-width: calc(235px + (300 - 235) * ((100vw - 575px) / (1920 - 575)));
              @media (max-width:575px) {
                left: unset !important;
                right: 0;
              }
          }
            @media (max-width: 575px) {
              right: 0;
              left: unset !important;
            }

            [dir="rtl"] & {
              left: unset !important;
              right: 0;
            }

            >.range-slider {
              width: calc(100% - calc(23px + (39 - 23) * ((100vw - 320px) / (1920 - 320))));
              margin: 0 auto;
            }

            .dropdown-item {
              padding: 0;
              display: flex;
              align-items: center;
              gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));

              [dir="rtl"] & {
                text-align: right;
              }

              +.dropdown-item {
                padding-top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
              }

              &:active {
                background-color: transparent;
              }

              &.active {
                background-color: transparent;
                color: unset;

                h6 {
                  color: rgba(var(--theme-color), 1);
                }
              }

              &:hover {
                background: none;
                color: #081f2e;
              }

              h6 {
                width: calc(100% - calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320))) - calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))));
                color: rgba(var(--title-color), 1);
                font-weight: 300;
              }

              i {
                width: calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320)));
                height: calc(28px + (30 - 28) * ((100vw - 320px) / (1920 - 320)));
                background: #ededed;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                color: rgba(var(--theme-color), 1);
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
              }
            }
          }
        }
      }
    }
  }
}

.car-home-section {
  position: relative;
  background: url(../../images/car/bg-effect/home-bg.png);
  background-size: cover;

  .home-section-box {
    padding-inline: calc(12px + (100 - 12) * ((100vw - 320px) / (1920 - 320)));
  }

  .home-content {
    padding-top: calc(100px + (195 - 100) * ((100vw - 320px) / (1920 - 320)));

    h3 {
      color: rgba(255, 255, 255, 0.85);
      font-weight: 400;
      letter-spacing: 8.96px;
      text-align: center;
    }

    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: calc(50px + (260 - 50) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(255, 255, 255, 0.03);
      font-style: italic;
      font-weight: 900;
      letter-spacing: 5px;
      line-height: 1;
    }
  }

  .home-img-slider {
    margin-top: calc(0px + (-220 - 0) * ((100vw - 320px) / (1920 - 320)));

    .car-slider-main {
      margin-bottom: calc(10px + (100 - 10) * ((100vw - 320px) / (1920 - 320)));

      .swiper-slide {
        transition: 0.4s ease;
      }

      .main-car-img {
        text-align: center;
        position: relative;

        &::after {
          @include after_before;
          width: 1125px;
          height: calc(8px + (33 - 8) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 100%;
          background: rgba(0, 0, 0, 0.46);
          filter: blur(46.5px);
          bottom: 0;
          top: unset;
          left: 50%;
          transform: translateX(-50%);
        }

        img {
          @media (max-width: 575px) {
            width: 80%;
          }
        }
      }
    }

    .car-slider {
      .swiper-wrapper {
        justify-content: center;
        gap: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
      }

      .swiper-slide {
        width: auto !important;
        transition: 0.4s ease;
        transform: scale(0.8);

        &.swiper-slide-thumb-active {
          transform: scale(1);
        }

        img {
          height: calc(28px + (38 - 28) * ((100vw - 320px) / (1920 - 320)));
          width: auto;
          object-fit: cover;
        }
      }
    }
  }

  .car-home-tab {
    @media (max-width: 991px) {
      padding-bottom: 30px;
    }

    .tab-content {
      @media (max-width: 991px) {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

.car-home-tab {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin-top: 30px;
  padding-top: 0;
  width: 100%;

  @media (max-width: 991px) {
    border-top: none;
    padding-inline: calc(12px + (100 - 12) * ((100vw - 320px) / (1920 - 320)));
  }

  .car-tab-flex {
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .nav,
  .scroll-down {
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    flex-direction: column;

    [dir="rtl"] & {
      border-right: none;
      border-left: 1px solid rgba(255, 255, 255, 0.12);
    }

    @media (max-width: 991px) {
      flex-wrap: nowrap;
      width: auto;
      flex-direction: row;
      border-right: none;

      [dir="rtl"] & {
        border-left: none;
      }
    }

    .nav-link {
      background: transparent;
      color: rgba(var(--content-color), 1);
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      padding-inline: 0;
      padding-block: calc(12px + (22 - 12) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      border-radius: 0;
      width: 100%;
      transition: 0.4s ease;
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;

      i {
        opacity: 0;
        font-size: 18px;
        color: #fff;
      }

      @media (max-width: 991px) {
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (992 - 320))) calc(30px + (45 - 30) * ((100vw - 320px) / (992 - 320))) calc(8px + (10 - 8) * ((100vw - 320px) / (992 - 320))) calc(20px + (35 - 20) * ((100vw - 320px) / (992 - 320)));
        margin-bottom: -3px;

        [dir="rtl"] & {
          padding-inline: calc(20px + (35 - 20) * ((100vw - 320px) / (992 - 320))) calc(30px + (45 - 30) * ((100vw - 320px) / (992 - 320)));
        }

        &::after {
          @include after_before;
          background: rgba(255, 255, 255, 0.05);
          bottom: 0;
          right: 0;
          border-radius: 10px 10px 0 0;
          transform: perspective(7px) rotateX(0.73deg) translateZ(-1px);
          transform-origin: 0 0;
          backface-visibility: hidden;
          opacity: 0;
          visibility: hidden;
          z-index: 0;
          transition: 0.4s ease;
        }
      }

      &.active {
        background: rgba(255, 255, 255, 0.05);
        color: #fff;

        i {
          opacity: 1;
        }

        @media (max-width: 991px) {
          background: transparent;

          &::after {
            opacity: 1;
            visibility: visible;

            [dir="rtl"] & {
              transform-origin: 100% 0;
            }
          }

          &::before {
            content: "";
            background: #13212d;
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 10px;
            height: 10px;
          }
        }
      }

      +.nav-link {
        border-top: 1px solid rgba(255, 255, 255, 0.12);

        @media (max-width: 991px) {
          border-top: none;
        }
      }
    }
  }

  .tab-content {
    background: transparent;
    margin-block: auto;

    .tab-list {
      @media (max-width: 991px) {
        row-gap: calc(8px + (15 - 8) * ((100vw - 320px) / (992 - 320)));
      }

      .tab-item {
        .btn-solid {
          color: #fff;
          font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
          padding: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 4px;

          &:hover {
            color: rgba(var(--theme-color), 1);
          }
        }

        .select-button,
        .dropdown {
          input {
            color: rgba(var(--content-color), 1);

            &::placeholder {
              color: rgba(var(--content-color), 1);
            }
          }
        }

        &:last-child {
          justify-content: start;
          padding-right: 0;

          @media (max-width: 991px) {
            justify-content: center;
          }
        }

        &::after {
          @media (max-width: 991px) {
            height: 30px;
          }
        }

        .label-flex {
          .iconsax {
            --Iconsax-Color: #fff;
          }

          label {
            color: #fff;
          }
        }
      }
    }
  }

  .scroll-down {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    border-right: none;
    height: calc(92px + (149 - 92) * ((100vw - 320px) / (1920 - 320)));

    [dir="rtl"] & {
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.12);
    }

    @media (max-width: 991px) {
      display: none;
    }

    img {
      width: calc(25px + (83 - 25) * ((100vw - 320px) / (1920 - 320)));
      height: calc(25px + (83 - 25) * ((100vw - 320px) / (1920 - 320)));
      opacity: 0.5;
    }
  }
}

.job-home-section {
  background: #2a2928;

  .home-block-space {
    padding-top: calc(calc(57px + (78 - 57) * ((100vw - 320px) / (1920 - 320))) + calc(20px + (112 - 20) * ((100vw - 320px) / (1920 - 320))));
    padding-bottom: calc(20px + (112 - 20) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 575px) {
      padding-bottom: 0;
    }
  }

  .home-content {
    @media (max-width: 575px) {
      text-align: center;
    }

    h3 {
      color: rgba(var(--content-color), 1);
      font-weight: 400;
    }

    h1 {
      color: #fff;
      font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 700;
      line-height: normal;
      padding-block: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));
    }

    p {
      color: rgba(var(--content-color), 1);
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      width: 80%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .counter-list {
      display: flex;
      align-items: center;
      gap: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));
      margin-top: calc(25px + (100 - 25) * ((100vw - 320px) / (1920 - 320)));
      flex-wrap: wrap;

      @media (max-width: 575px) {
        justify-content: center;
      }

      .counter-box {
        display: flex;
        align-items: center;

        &:nth-child(2) {
          &::before {
            background: #5effb0;
          }
        }

        &:nth-child(3) {
          &::before {
            background: #ffee62;
          }
        }

        &::before {
          content: "";
          border-radius: 10px;
          opacity: 0.8;
          background: #ffb38f;
          display: inline-block;
          width: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320)));
          height: 20px;
          position: relative;
        }

        .counter-info {
          display: flex;
          align-items: center;
          padding-left: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
          gap: 8px;

          [dir="rtl"] & {
            padding-left: 0;
            padding-right: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
          }

          h3 {
            font-family: $outfit;
            color: #fff;
            font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
          }

          h4 {
            color: rgba(var(--content-color), 1);
            font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
          }
        }
      }
    }
  }

  .job-home-tab {
    border-top: 1px solid rgba(255, 255, 255, 0.12);

    .tab-list {
      @media (max-width: 991px) {
        row-gap: calc(8px + (15 - 8) * ((100vw - 320px) / (992 - 320)));
      }

      .tab-item {
        width: 100%;

        .dropdown {
          .dropdown-menu {
            border-color: rgba(var(--light-border-color), 1);
          }
        }

        @media (max-width: 991px) {
          width: 33.33%;
        }

        @media (max-width: 575px) {
          width: 50%;
        }

        &:nth-child(4) {
          @media (max-width: 991px) {
            padding-left: 0;

            &::after {
              display: none;
            }
          }

          @media (max-width: 575px) {
            padding-left: calc(10px + (32 - 10) * ((100vw - 320px) / (1920 - 320)));

            &::after {
              display: block;
            }
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:nth-child(3) {
          &::after {
            @media (max-width: 991px) {
              display: block;
            }
          }
        }

        &:nth-child(odd) {
          @media (max-width: 575px) {
            padding-left: 0;

            &::after {
              display: none;
            }
          }
        }

        &:nth-last-child(2) {
          justify-content: center;
          display: flex;
          padding-left: 0;

          &::after {
            display: none;
          }

          @media (max-width: 991px) {
            justify-content: start;
            width: 33.33%;
            padding-inline: calc(10px + (32 - 10) * ((100vw - 320px) / (1920 - 320)));

            [dir="rtl"] & {
              padding-right: 15px;
            }
          }

          @media (max-width: 575px) {
            width: 100%;
            justify-content: center;
          }
        }

        &.scroll-down {
          width: 60% !important;
          justify-content: center;

          @media (max-width: 991px) {
            display: none;
          }

          img {
            height: 100%;
            object-fit: contain;
          }
        }

        &::after {
          height: 42px;
        }

        .btn-solid {
          background: #fff;
          color: #2a2928;
          border: 1px solid transparent;
          padding-inline: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320))) !important;

          &:active {
            background: transparent !important;
            color: #fff !important;
            border-color: #fff !important;
          }

          &:hover {
            background: transparent;
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
  }
}

.home-img {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
  row-gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
  position: relative;

  @media (max-width: 991px) {
    padding-right: 0;
    padding-top: calc(35px + (80 - 35) * ((100vw - 320px) / (992 - 320)));
  }

  .home-job-box {
    top: 45%;
    left: -26%;
    transition: 0.5s ease;
    transform: scale(0.9);
    width: 40%;

    [dir="rtl"] & {
      right: -26%;
      left: 0;
    }

    @media (max-width: 1800px) {
      width: 35%;
      left: -28%;

      [dir="rtl"] & {
        right: -28%;
        left: 0;
      }
    }

    @media (max-width: 1199px) {
      display: none;
    }

    &:hover {
      transform: rotate(-4deg) scale(1);
    }
  }

  .top-left-box,
  .bottom-right-box,
  .vertical-line,
  .horizontal-line {
    width: auto !important;
    height: auto !important;

    @media (max-width: 575px) {
      display: none;
    }
  }

  .top-left-box {
    top: -26px;
    left: -19px;

    [dir="rtl"] & {
      left: unset;
      right: -19px;
      transform: scaleX(-1);
    }
  }

  .bottom-right-box {
    bottom: -26px;
    right: -19px;
    transform: scale(-1);

    [dir="rtl"] & {
      left: -19px;
      right: unset;
      transform: scaleY(-1);
    }
  }

  .vertical-line {
    top: -15px;
    left: -9px;

    [dir="rtl"] & {
      left: unset;
      right: -9px;
    }
  }

  .horizontal-line {
    bottom: -38px;
    right: 22px;
    transform: rotate(90deg);

    [dir="rtl"] & {
      left: 22px;
      right: unset;
    }
  }

  .round-shape {
    background: rgba(var(--border-color), 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &.radius-style-1 {
      border-radius: 40px 40px 0 40px;

      img {
        &.animation-img {
          width: auto;
          height: auto;

          @media (max-width: 575px) {
            width: calc(50px + (105 - 50) * ((100vw - 320px) / (1920 - 320)));
            height: calc(50px + (105 - 50) * ((100vw - 320px) / (1920 - 320)));
          }
        }
      }
    }

    &.radius-style-2 {
      border-radius: 40px 40px 40px 0;
    }

    &.radius-style-3 {
      border-radius: 200px 0 200px 200px;

      img {
        width: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
        height: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
      }

      .horizontal-line {
        top: -38px;
        left: 22px;
        transform: rotate(90deg);

        [dir="rtl"] & {
          left: unset;
          right: 22px;
        }
      }

      .vertical-line {
        bottom: -15px;
        right: -9px;
        top: unset;
        left: unset;

        [dir="rtl"] & {
          left: -9px;
          right: unset;
        }
      }
    }

    &.radius-style-4 {
      border-radius: 0 40px 40px 40px;
    }
  }

  .round-shape-img {
    width: calc(85px + (130 - 85) * ((100vw - 320px) / (1920 - 320)));
    height: calc(85px + (130 - 85) * ((100vw - 320px) / (1920 - 320)));
    position: relative;

    .zoom-img {
      overflow: hidden;
      border-radius: 30px 30px 30px 0;

      img {
        border-radius: 30px 30px 30px 0;
        width: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
        height: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
      }
    }

    &:hover {
      .flip-img {
        transform: scaleX(-1);
      }

      .zoom-img {
        img {
          transform: scale(1.2);
        }
      }
    }

    img {
      border-radius: 100%;
      transition: 0.5s ease;

      &.animation-img {
        animation: rotate 30s linear 1s infinite alternate;
        width: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
        height: calc(70px + (110 - 70) * ((100vw - 320px) / (1920 - 320)));
        object-fit: contain;
      }
    }
  }
}



.job3-home-section {
  background: rgba(var(--bg-color), 1);
  overflow-x: hidden;
  padding-bottom: 80px;
  position: relative;
  background-size: contain !important;
  background-position: bottom !important;

  @media (max-width: 991px) {
    padding-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (991 - 320)));
  }

  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: calc(calc(40px + (150 - 40) * ((100vw - 320px) / (1920 - 320))) + calc(42px + (67 - 42) * ((100vw - 320px) / (1920 - 320))));
    margin-bottom: calc(40px + (150 - 40) * ((100vw - 320px) / (1920 - 320)));

    p {
      color: rgba(var(--content-color), 1);
      width: 75%;
      margin-block: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));

      @media (max-width: 1200px) {
        width: 90%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    h1 {
      font-size: calc(21px + (70 - 21) * ((100vw - 320px) / (1920 - 320)));
      margin-top: calc(-3px + (-16 - -3) * ((100vw - 320px) / (1920 - 320)));
    }

    .search-input-home {
      background: rgba(var(--white), 1);
      display: flex;
      align-items: center;
      padding: 5px 5px 5px calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
      gap: calc(8px + (40 - 8) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 10px;
      position: relative;
      width: 100%;

      [dir="rtl"] & {
        padding-inline: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320))) 5px;
      }

      .icon-search {
        position: relative;
        display: flex;
        align-items: center;
        gap: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));

        @media (max-width: 495px) {
          width: 100%;
        }

        .form-control {
          background: transparent;
          border: none;
          outline: none;
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
          color: rgba(var(--content-color), 1);
          padding: 0;

          &::placeholder {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 1);
            width: auto;
          }

          &:focus {
            outline: none;
          }
        }

        .iconsax {
          --Iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
          --Iconsax-Color: rgba(var(--content-color), 1);
        }
      }

      .dropdown {
        border-left: 2px solid rgba(var(--black), 0.07);
        padding-left: calc(8px + (40 - 8) * ((100vw - 320px) / (1920 - 320)));

        [dir="rtl"] & {
          border-right: 2px solid rgba(var(--black), 0.07);
          padding-right: calc(8px + (40 - 8) * ((100vw - 320px) / (1920 - 320)));
          border-left: none;
          padding-left: 0;
        }

        @media (max-width: 495px) {
          width: 100%;
          border-left: none;
          padding-left: 0;

          [dir="rtl"] & {
            border-right: none;
            padding-right: 0;
          }
        }

        .dropdown-toggle {
          padding: 0;
          color: rgba(var(--content-color), 1);
          font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
          display: flex;
          align-items: center;
          line-height: 1;
          border: none;

          &:active {
            background-color: transparent;
            border: none;
          }

          &.show {
            &::after {
              content: "\ea78";
            }
          }

          &::after {
            content: "\ea4e";
            border: none;
            margin-left: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));
            font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
            font-family: remixicon !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            line-height: 1;

            [dir="rtl"] & {
              margin-left: 0;
              margin-right: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));
            }
          }
        }

        .dropdown-menu {
          padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
          background: rgba(var(--white), 1);

          .select-menu {
            li {
              font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
              font-weight: 400;
              display: block;

              +li {
                padding-top: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
              }

              a {
                color: rgba(var(--title-color), 1);
              }
            }
          }
        }
      }

      .btn-solid {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        padding: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320))) calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 6px;
        margin-left: auto;

        [dir="rtl"] & {
          margin-left: 0;
          margin-right: auto;
        }
      }

      .full-dropdown {
        position: unset;

        @media (max-width: 767px) {
          border-left: none;
          padding-left: 0;

          [dir="rtl"] & {
            border-right: none;
            padding-right: 0;
          }
        }

        .dropdown-menu {
          padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
          width: 100%;
          height: 255px;
          overflow: auto;
          background: rgba(var(--white), 1);
          left: 0 !important;
          top: 100% !important;
          transform: none !important;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgba(var(--theme-color), 1);
            border-radius: 10px;
          }

          .select-menu {
            li {
              display: block;
              font-size: 18px;
              font-weight: 400;

              +li {
                padding-top: 12px;
              }

              a {
                color: rgba(var(--title-color), 1);

                &.active {
                  color: rgba(var(--theme-color), 1);
                }
              }
            }
          }
        }
      }
    }
  }

  .scroll-quote {
    &.reverse-quote {
      padding-top: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
    }

    .marquee {
      gap: calc(8px + (30 - 8) * ((100vw - 320px) / (1920 - 320)));
      display: flex;
      align-items: center;
      white-space: nowrap;

      .marquee-pill {
        display: flex;
        align-items: center;
        gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
        background: #15192c;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: calc(8px + (13 - 8) * ((100vw - 320px) / (1920 - 320))) calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 30px;
        min-width: max-content;

        img {
          width: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
          height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
          object-fit: contain;
          filter: brightness(0) invert(1);
        }

        h6 {
          color: #fff;
          width: calc(100% - calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320))) - calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))));
          font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }

  .home-icons {
    @media (max-width: 991px) {
      display: none;
    }

    li {
      position: absolute;
      top: 17%;
      left: 20%;
      z-index: 0;

      [dir="rtl"] & {
        left: unset;
        right: 20%;
      }

      @media (max-width: 1399px) {
        top: 23%;
        left: 12%;

        [dir="rtl"] & {
          left: unset;
          right: 12%;
        }
      }

      @media (max-width: 1099px) {
        left: 6%;

        [dir="rtl"] & {
          left: unset;
          right: 6%;
        }
      }

      .job-bg-icon {
        animation: zoomanimation 6s ease-out infinite;
      }

      &:nth-child(2) {
        top: 34%;
        left: 5%;
        transform: rotate(30deg);

        [dir="rtl"] & {
          left: unset;
          right: 5%;
        }

        @media (max-width: 1399px) {
          top: 45%;
        }

        .job-bg-icon {
          animation: topanimation 4s ease-out 5s infinite;
        }
      }

      &:nth-child(3) {
        top: 24%;
        right: 12%;
        left: unset;
        transform: rotate(-15deg);

        [dir="rtl"] & {
          right: unset;
          left: 12%;
        }

        @media (max-width: 1099px) {
          right: 6%;

          [dir="rtl"] & {
            left: 6%;
            right: unset;
          }
        }

        .job-bg-icon {
          animation: topanimation 4s ease-out 5s infinite;
        }
      }

      &:last-child {
        top: 48%;
        right: 5%;
        left: unset;
        transform: rotate(45deg);

        [dir="rtl"] & {
          right: unset;
          left: 5%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(25px + (42 - 25) * ((100vw - 991px) / (1920 - 991)));
        height: calc(25px + (42 - 25) * ((100vw - 991px) / (1920 - 991)));
        background: rgba(var(--theme-color), 0.5);
        filter: blur(17px);
        z-index: -1;
      }
    }
  }
}

.car2-home-section {
  background-color: #232323;
  background-blend-mode: overlay;
  padding-top: calc(calc(54px + (112 - 54) * ((100vw - 320px) / (1920 - 320))) + 25px);
  position: relative;
  z-index: 0;

  &::after,
  &::before {
    content: "";
    width: calc(40px + (300 - 40) * ((100vw - 320px) / (1920 - 320)));
    height: 100%;
    background: linear-gradient(to left,
        rgba(35, 35, 35, 0) 0%,
        rgba(35, 35, 35, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    left: unset;
    right: 0;
    background: linear-gradient(to right,
        rgba(35, 35, 35, 0) 0%,
        rgba(35, 35, 35, 1) 100%);
  }

  .quote {
    mix-blend-mode: lighten;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(65px + (100 - 65) * ((100vw - 320px) / (1920 - 320)));
      background: linear-gradient(0deg,
          rgba(30, 30, 31, 1) 40%,
          rgba(34, 34, 34, 0) 100%);
      z-index: -1;
    }

    .marquee {
      gap: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));

      li {
        h2 {
          font-size: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
          background: linear-gradient(to bottom,
              rgba(34, 34, 34, 1) 0%,
              rgba(34, 34, 34, 0) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: sans-serif;
          position: relative;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
          word-spacing: calc(0px + (-30 - 0) * ((100vw - 320px) / (1920 - 320)));
          z-index: -1;
        }
      }
    }
  }

  .car2-home-box {
    margin-top: calc(-70px + (-120 - -70) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(165px + 61px);

    @media (max-width: 991px) {
      padding-bottom: calc(85px + 61px);
    }
  }

  .home-content {
    position: relative;

    label {
      color: rgba(var(--theme-color), 1);
    }

    h1 {
      color: #fff;
      margin-block: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
      font-size: calc(28px + (70 - 28) * ((100vw - 320px) / (1920 - 320)));
    }

    p {
      color: rgba(255, 255, 255, 0.6);
    }

    .car-home-counter {
      display: flex;
      align-items: center;
      gap: calc(12px + (25 - 12) * ((100vw - 320px) / (1920 - 320)));
      margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));

      .counter-box {
        color: #fff;
        text-align: center;

        +.counter-box {
          display: flex;
          align-items: center;

          &::before {
            content: "";
            position: relative;
            border-left: 1px solid rgba(var(--border-color), 0.2);
            padding-left: calc(12px + (25 - 12) * ((100vw - 320px) / (1920 - 320)));
            width: 1px;
            height: calc(50px + (67 - 50) * ((100vw - 320px) / (1920 - 320)));

            [dir="rtl"] & {
              border-left: 0;
              padding-left: 0;
              border-right: 1px solid rgba(var(--border-color), 0.2);
              padding-right: calc(12px + (25 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
          }
        }

        h3 {
          font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
        }

        h6 {
          color: rgba(255, 255, 255, 0.6);
          padding-top: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }

  .car-home-img {
    position: absolute;
    bottom: 0;
    right: 0;

    [dir="rtl"] & {
      right: unset;
      left: 0;
      transform: scaleX(-1);
    }

    @media (max-width: 1399px) {
      width: 35%;
    }

    @media (max-width: 1199px) {
      width: 40%;
    }
  }
}

.property2-section {
  position: relative;
  z-index: 0;

  &::after {
    @include after_before;
    background: linear-gradient(to left,
        rgba(9, 12, 33, 0) 0%,
        rgba(9, 12, 33, 1) 100%);
    z-index: -1;
  }

  .home-content {
    margin-top: calc(100px + (125 - 100) * ((100vw - 991px) / (1920 - 991)));

    @media (max-width: 991px) {
      margin-top: calc(30px + (50 - 30) * ((100vw - 320px) / (991 - 320)));
    }

    h1 {
      color: #fff;
      margin-bottom: calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));

      span {
        color: rgba(var(--theme-color), 1);
      }
    }

    p {
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .logo-section {
    margin-top: calc(15px + (70 - 15) * ((100vw - 320px) / (1920 - 320)));
    padding-block: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    position: relative;

    &::after {
      @include after_before;
      background: linear-gradient(to bottom,
          rgba(9, 12, 33, 0) 0%,
          rgba(9, 12, 33, 1) 100%);
      z-index: -1;
    }

    .logo-img {
      &:hover {
        img {
          filter: brightness(0) invert(1) !important;
        }
      }

      img {
        filter: brightness(0) invert(1) !important;
      }
    }
  }
}
